%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
}
.btn-primary{
    @extend %btn;
    @include background-color(lighten($color: $primary-color, $amount: 30%));
    // background-color:primary-btn-color($primary-color);
}
.btn-secondary{
    @extend %btn;
    @include background-color($secondary-color);
    // background-color: $secondary-color;
}