%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}
.btn-primary{
    @extend %btn;
    background-color: lighten($color: $primary-color, $amount: 10%);
        &:hover{
            
        background-color:  btn-color($primary-color);
        }
}
.btn-secondary{
    @extend %btn;
    background-color: $secondary-color;
    &:hover{
        background-color: darken($color: $secondary-color, $amount: 20%);
    }
}